:root {
    --primary-color: #0a79df;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --panel-color: #fff;
    --border-color: #111;
}

[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --panel-color: #111;
    --border-color: #fff;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}

#container {
    position: relative;
    justify-content: center;
    max-width: 30%;
    margin: 30px auto;
    padding: 30px 30px;
}

h1 {
    color: var(--heading-color);
    font-family: "Sansita", sans-serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

.panel {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background-color: var(--panel-color);
}

.sub-text {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

input,
button {
    border: 1px solid #0a79df;
    border-radius: 3px;
    display: block;
    margin: 15px 0;
    font-size: 16px;
    padding: 8px 10px;
}

button {
    background-color: #0a79df;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    cursor: pointer;
}

#print {
    margin: 30px 0px 30px;
    padding: 10px 0px;
}

/* Slider Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: flex-end;
}

.theme-switch-wrapper em {
    margin-left: 15px;
    font-size: 1rem;
} 


.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #0a79df;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}